TrackingApp/force-app/main/default/flows/create_module.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>assign_module</name>
        <label>assign module</label>
        <locationX>424</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>singleinternmodule.Intern__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleinternmodule.module__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Modules.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleinternmodule.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Modules.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_intern_module</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleinternmodule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Modules</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>are_the_programs_the_same</name>
        <label>are the programs the same</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Training_Modules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Training_Program__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Training_Program__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_previous_program</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>heck_If_intern_Assigned_or_Updated</name>
        <label>heck If intern Assigned or Updated</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Training_Modules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>updated</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Training_Program__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>are_the_programs_the_same</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>create module {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create module</label>
    <loops>
        <name>Loop_Through_Modules</name>
        <label>Loop Through Modules</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_Training_Modules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_module</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Intern_Modules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Intern_Modules</name>
        <label>Create Intern Modules</label>
        <locationX>336</locationX>
        <locationY>1331</locationY>
        <inputReference>collection_intern_module</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete_prior_modules</name>
        <label>delete prior modules</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Training_Modules</targetReference>
        </connector>
        <inputReference>get_previous_program</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_previous_program</name>
        <label>get previous program</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>delete_prior_modules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intern__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InternModule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Modules</name>
        <label>Get Training Modules</label>
        <locationX>336</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Modules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Training_Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>modules__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>heck_If_intern_Assigned_or_Updated</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.Training_Program__c})</filterFormula>
        <object>Intern_List__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_intern_module</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InternModule__c</objectType>
    </variables>
    <variables>
        <name>InternModuleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InternModule__c</objectType>
    </variables>
    <variables>
        <name>singleinternmodule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InternModule__c</objectType>
    </variables>
</Flow>
