TrackingApp/force-app/main/default/flows/InternmoduleAssignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>check_if_exist</name>
        <label>check if exist</label>
        <locationX>270</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Records_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Program__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Training_Program__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_record</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_intern_module</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_2</targetReference>
            </connector>
            <label>is empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>InternmoduleAssignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InternmoduleAssignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_intern</name>
        <label>create intern</label>
        <locationX>270</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Intern__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Records_2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>module__c</field>
            <value>
                <elementReference>Get_Records_2.Id</elementReference>
            </value>
        </inputAssignments>
        <object>InternModule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>delete_record</name>
        <label>delete record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Records_2</targetReference>
        </connector>
        <inputReference>get_intern_module</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_intern_module</name>
        <label>get intern module</label>
        <locationX>270</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intern__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InternModule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_2</name>
        <label>Get Records 2</label>
        <locationX>270</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_intern</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Training_Program__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>modules__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_intern_module</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.Intern__c})</filterFormula>
        <object>Intern_List__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>InternModuleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InternModule__c</objectType>
    </variables>
</Flow>
