TrackingApp/force-app/main/default/flows/promote_intern.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>promote intern {!$Flow.CurrentDateTime}</interviewLabel>
    <label>promote intern</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Consultant</name>
        <label>Consultant</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Date_Promoted__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Intern__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_profile__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Consultant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>update_status</name>
        <label>update status</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Consultant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stages__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consultant</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Consultant</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stages__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consultant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stages__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Intern_List__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
