TrackingApp/force-app/main/default/flows/send_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>welcome_email</name>
        <label>welcome email</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Intern__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Welcome to Our Training Program!.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Hello {!Email_info.Intern__r.FirstName},&lt;/p&gt;    &lt;p&gt;Welcome to our training program! We’re thrilled to have you onboard. Below are the details of the program you enrolled in:&lt;/p&gt;    &lt;p&gt;&lt;strong&gt;Program Name:&lt;/strong&gt; {!Email_info.Training_Program__r.Name}&lt;/p&gt;   &lt;p&gt;&lt;strong&gt;Program Start Date:&lt;/strong&gt; {!Email_info.Training_Program__r.start_date__c}&lt;/p&gt;    &lt;p&gt;If you have any questions or need assistance, feel free to reach out to our support team at &lt;a href=&quot;mailto:support@quarphix.co.za&quot;&gt;support@quarphix.co.za&lt;/a&gt; or call us at (27) 124-799-890.&lt;/p&gt;    &lt;p&gt;We look forward to supporting your learning journey!&lt;/p&gt;    &lt;p&gt;Best regards,&lt;br&gt;   The Quarphix Team&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>send email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>send email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Email_info</name>
        <label>Email info</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>welcome_email</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Intern_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Program__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Intern_List__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
